<app-header></app-header>
<div class="dashboard-container">
  <div class="dashboard-advert"></div>
  <div class="dashboard-card">
    <div class="dashboard-card-header" *ngIf="!isLoading">
      <span
        ><i class="fa fa-money"></i> <span class="hide">Balance:</span>
        {{ userAccount?.accBalance | currency: "NGN" }}
      </span>
      <span
        ><i class="fa fa-bank"></i> <span class="hide">Account:</span>
        {{ userAccount?.accNo }}</span
      >
    </div>
    <div class="dashboard-card-content" *ngIf="!isPaying && !isLoading">
      <div class="dashboard-card-item" (click)="makePayment()">
        <i class="fa fa-bank"></i> &nbsp; Payment
      </div>
      <div class="dashboard-card-item" [routerLink]="'/transactions'">
        <i class="fa fa-money" i> &nbsp; Transactions </i>
      </div>
    </div>

    <div class="dashobard-cart-content" *ngIf="isPaying">
      <app-payment
        [userAccount]="userAccount"
        [recepient]="recepient"
        (receiveEvent)="receiverPayment($event)"
        (payEvent)="payNow($event)"
        (backEvent)="isPaying = false"
      ></app-payment>
    </div>

    <div class="dashboard-cart-content" *ngIf="isLoading">
      <div class="roller">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
