.trans-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100vw;
  height: 85vh;
  margin-top: 20px;
  padding: 20px 50px;
  background-color: #fff;

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.trans-fa {
  cursor: pointer;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.print-trans {
  opacity: 0.2;
  background-color: transparent;
}

tr {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  th {
    font-size: 10px;
  }
  td {
    font-size: 10px;
  }
}
